*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

mark {
    background: $c1;
    color: $c2;
    // font-size: 1.3rem;
    padding: .3em;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 24px;
    vertical-align: middle;
}

a {
    color: $c2;
}

label {
    display: block;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: $g0;
    margin-bottom: $g-1;
}
::placeholder {
    color: $c1;
    padding-left: 4px;
    width: 100%;
}

.bleed{
    display: grid;
    grid-template-columns: 1fr minmax(180px, 65ch) 1fr;
    // gap: 32px;

    & > * {
        grid-column: 2;
    }

    .full-bleed{
        width: 100%;
        max-width: 80vw;
        grid-column: 1/-1;
    }
}

.container {
    position:relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    // align-items: center;

    min-height: 96vh;

    & > *+* {
        margin-top: $g1;
    }

}
.header, .footer {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

    &-center {
        justify-content: center;
        text-align: center;
    }
    p {
        font-size: 13px;
    }
}

.footer{
    flex-direction: row-reverse;
}


.page_suptitle {
    letter-spacing: .14em;
    text-transform: uppercase;
}

.page_suptitle,
.page_subtitle {
    font-size: .8em;
}

::placeholder,
.page_suptitle, .page_subtitle,
.help_text{
    font-family: 'segoe UI';
}


