$c1: #182a4e;
$c1-2: #4E6084;
$c2: #fff;
$c2-1: #9ebaf3;
$c4: #ff6;

$cd: #ff8093;
$cs: #9efb975c;
$cw: #fbef9780;
$ci: #97c8fb80;

$g-1: 4px;
$g-2: 1px;

$g0: 8px;

$g1: 16px;
$g2: 24px;
$g3: 32px;
$g4: 40px;
$g5: 48px;

$s-xsm: 4px;
$s-sm: 8px;
$s-md: 16px;
$s-lg: 32px;